<div class="upload">
  <mat-card>
    <input
      type="file"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />

    <div class="file-upload">
      {{ fileName || "Nenhum arquivo selecionado" }}

      <button
        mat-mini-fab
        color="primary"
        class="upload-btn"
        (click)="fileUpload.click()"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
    <br>
    <span>Predict: {{predict}}</span>
    <br>
    <span>Resultado: {{resultado}}</span>
  </mat-card>
</div>
